.formDiv {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  border-top: solid 1px #e8e8e8;
}

.form-title {
  margin-top: 2rem;
  font-family: Monserrat, 'Courier New', Courier, monospace;
  font-size: 1.38rem;
  font-weight: bolder;
  font-stretch: normal;
  line-height: normal;
  color: #888;
}

.input-title {
  width: 70%;
}

.select-form {
  width: 17.813rem;
  margin-left: 1rem;
}

.add-book {
  font-family: RobotoSlab, 'Courier New', Courier, monospace;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #fff;
  text-align: center;
  margin-left: 2rem;
}
