.bookstore {
  background-color: #fff;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.genre {
  font-family: Monserrat, 'Courier New', Courier, monospace;
  color: gray;
  font-size: 0.8rem;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.title {
  font-family: RobotoSlab, 'Courier New', Courier, monospace;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
}

.author {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.actions {
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
}

.actions span {
  margin: 10px 6px;
}

.actions span:first-child {
  margin-left: 0;
}

.Line-2 {
  width: 0.125rem;
  height: 1.5rem;
  border: solid 1px #e8e8e8;
}

.Oval-2 {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  border-image-slice: 1;
  border-radius: 60px;
}

.Rectangle-3 {
  margin-top: 10px;
  width: 5.625rem;
  height: 5.62rem;
  padding: 0.62rem 0.625rem 0.75rem 0.75rem;
}

.progress-circle {
  align-items: center;
}

.number {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: Monserrat, 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.status {
  margin: 0.063rem 5.75rem 0 0.688rem;
}

.current-chapter {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: RobotoSlab, 'Courier New', Courier, monospace;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.chapter {
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: RobotoSlab, 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
}

.chapter-btn {
  margin: 0.75rem 1.75rem 0.563rem 3.688rem;
  font-family: RobotoSlab, 'Courier New', Courier, monospace;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.line-1 {
  border-left: solid 1px #e8e8e8;
}

.remove-btn {
  border-style: none;
  background: none;
  color: #4386bf;
}
